@charset "UTF-8";
/*
首页样式
*/
/*
   公用样式
*/
/*   banner样式  */
.banner {
  padding-left: 100px;
  padding-right: 82px;
  height: 531px;
}

.banner .banner-left {
  width: 244px;
  height: 530px;
  border: solid 1px #d51819;
  border-top: none;
  float: left;
  position: relative;
}

.banner .banner-left ul {
  width: 234px;
  height: 530px;
  padding-left: 10px;
}

.banner .banner-left ul li .li-top {
  height: 19px;
  margin-top: 2px;
  position: relative;
}

.banner .banner-left ul li .li-top span {
  width: 16px;
  height: 16px;
  background-image: url(../img/more.png);
  position: absolute;
  top: 0;
  right: 16px;
}

.banner .banner-left ul li .li-top img {
  width: 16px;
  height: 12px;
  position: absolute;
  top: 3px;
  background: white;
  right: -5px;
  z-index: 1000;
  display: none;
}

.banner .banner-left ul li .li-bottom {
  height: 44px;
  margin-top: 1px;
  padding-right: 10px;
}

.banner .banner-left ul li .li-bottom a {
  margin-right: 5px;
  font-size: 12px;
  color: #696969;
}

.banner .banner-left ul li .li-hide {
  width: 736px;
  height: 530px;
  border: solid 1px #dcdcdc;
  border-top: none;
  position: absolute;
  top: 0;
  left: 244px;
  display: none;
  z-index: 100;
  background: white;
}

.banner .banner-left ul li .li-hide .hide-left {
  float: left;
  width: 194px;
  height: 530px;
  border-right: solid 1px #dcdcdc;
}

.banner .banner-left ul li .li-hide .hide-left h3 {
  margin: 10px 0 10px 10px;
}

.banner .banner-left ul li .li-hide .hide-left a {
  padding: 4px 15px 4px 10px;
  color: #696969;
}

.banner .banner-left ul li .li-hide .hide-right {
  float: right;
}

.banner .banner-center {
  width: 732px;
  height: 526px;
  float: left;
  padding: 5px 5px 0 5px;
  position: relative;
}

.banner .banner-center ul {
  width: 732px;
  height: 480px;
}

.banner .banner-center ul li {
  position: absolute;
}

.banner .banner-center ul li img {
  width: 732px;
  height: 480px;
}

.banner .banner-center span {
  display: inline-block;
  width: 240px;
  height: 40px;
  line-height: 40px;
  margin-top: 4px;
  text-align: center;
  font-weight: bolder;
  color: #666666;
  float: left;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
}

.banner .banner-center span:nth-child(1) {
  border-left: solid 1px #dcdcdc;
}

.banner .banner-center span:nth-child(3) {
  border-right: solid 1px #dcdcdc;
}

.banner .banner-center .prev {
  left: 5px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: url(../img/btn-L.png) no-repeat;
}

.banner .banner-center .next {
  right: 5px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: url(../img/btn-R.png) no-repeat;
}

.banner .banner-center .active {
  border-top: solid 1px #d51819;
  color: #000000;
}

.banner .banner-right {
  width: 250px;
  height: 531px;
  float: right;
}

.banner .banner-right img:nth-child(1) {
  width: 250px;
  height: 360px;
}

.banner .banner-right img:nth-child(2) {
  width: 250px;
  height: 167px;
}

/*   Switch样式  */
.Switch {
  padding: 5px 82px 5px 100px;
  height: 132px;
}

.Switch .box {
  width: 1240px;
  height: 132px;
  overflow: hidden;
  position: relative;
}

.Switch .box ul {
  width: 2480px;
  height: 132px;
  position: absolute;
  left: 0;
}

.Switch .box ul li {
  float: left;
  margin-right: 16px;
  margin-top: 6px;
}

.Switch .box ul li:nth-child(5) {
  margin-right: 0;
}

.Switch .box ul li:nth-child(10) {
  margin-right: 0;
}

.Switch .box .btnLeft {
  left: 5px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: url(../img/btn-L.png) no-repeat;
}

.Switch .box .btnRight {
  right: 5px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: url(../img/btn-R.png) no-repeat;
}

/*   min样式  */
.goods {
  padding-left: 100px;
  padding-right: 82px;
}

.goods .goodsList {
  height: 540px;
}

.goods .goodsList .goodsList-left {
  width: 240px;
  float: left;
}

.goods .goodsList .goodsList-left h3 {
  height: 56px;
  line-height: 56px;
  padding-left: 10px;
}

.goods .goodsList .goodsList-left .box {
  height: 115px;
}

.goods .goodsList .goodsList-left .box a {
  margin: 0 30px;
  line-height: 30px;
  color: black;
}

.goods .goodsList .goodsList-left .Imgbox img {
  float: left;
}

.goods .goodsList .goodsList-right {
  float: right;
  width: 1001px;
}

.goods .goodsList .goodsList-right .title {
  height: 60px;
  text-align: right;
}

.goods .goodsList .goodsList-right .title span {
  display: inline-block;
  padding: 0 16px;
  margin-top: 10px;
  height: 24px;
  line-height: 24px;
  border-right: solid 1px #ccc;
}

.goods .goodsList .goodsList-right .title .active {
  color: red;
  border-bottom: solid 1px red;
}

.goods .goodsList .goodsList-right .content {
  width: 1001px;
  height: 480px;
  position: relative;
}

.goods .goodsList .goodsList-right .content .content1 {
  display: block;
  width: 991px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
}

.goods .goodsList .goodsList-right .content .content1 img {
  float: left;
}

.goods .goodsList .goodsList-right .content .content2 {
  display: none;
  width: 1001px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
}

.goods .goodsList .goodsList-right .content .content2 a {
  display: inline-block;
  width: 170px;
  height: 230px;
  margin: 4px 12px;
  color: black;
}

.goods .goodsList .goodsList-right .content .content2 a img {
  width: 170px;
  height: 170px;
}

.goods .goodsList .goodsList-right .content .content2 a span {
  color: red;
}

.goods .goodsList .goodsList-right .content .content3 {
  display: none;
  width: 1001px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
}

.goods .goodsList .goodsList-right .content .content3 a {
  display: inline-block;
  width: 170px;
  height: 230px;
  margin: 4px 12px;
  color: black;
}

.goods .goodsList .goodsList-right .content .content3 a img {
  width: 170px;
  height: 170px;
}

.goods .goodsList .goodsList-right .content .content3 a span {
  color: red;
}

.goods .goodsList .goodsList-right .content .content4 {
  display: none;
  width: 1001px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
}

.goods .goodsList .goodsList-right .content .content4 a {
  display: inline-block;
  width: 170px;
  height: 230px;
  margin: 4px 12px;
  color: black;
}

.goods .goodsList .goodsList-right .content .content4 a img {
  width: 170px;
  height: 170px;
}

.goods .goodsList .goodsList-right .content .content4 a span {
  color: red;
}
