@charset "UTF-8";
/* 
  注册页面样式
*/
body {
  font-family: '微软雅黑';
  color: #666666;
  font-size: 14px;
  min-width: 1382px;
}

.container {
  /* 头部 */
  /* 主体 */
  /* 尾部 */
}

.container .header {
  padding: 0 190px;
}

.container .min {
  padding: 0 220px;
  height: 360px;
}

.container .min h3 {
  border-bottom: solid 2px #6e6e6e;
}

.container .min h3 .title {
  width: 160px;
  line-height: 28px;
  background: #6e6e6e;
  text-align: center;
  color: white;
}

.container .min .content {
  border: solid 1px #cccccc;
  margin-top: 10px;
  height: 318px;
}

.container .min .content .content-left {
  float: left;
  width: 720px;
  height: 298px;
  padding: 10px 20px 10px 20px;
}

.container .min .content .content-left h4 {
  border-bottom: dashed 1px #e6e6e6;
  padding: 14px 0 8px 28px;
}

.container .min .content .content-left form {
  position: relative;
}

.container .min .content .content-left form .user {
  height: 66px;
  position: relative;
  padding-top: 10px;
  padding-left: 15px;
}

.container .min .content .content-left form .user lable {
  height: 30px;
}

.container .min .content .content-left form .user input {
  height: 30px;
  width: 240px;
}

.container .min .content .content-left form .user p {
  display: inline-block;
  width: 353px;
  position: absolute;
  top: 10px;
  right: 22px;
}

.container .min .content .content-left form .user span {
  display: block;
  width: 240px;
  height: 20px;
  line-height: 20px;
  margin-left: 60px;
  margin-top: 1px;
  color: red;
}

.container .min .content .content-left form .phone {
  height: 60px;
  position: relative;
}

.container .min .content .content-left form .phone lable {
  height: 30px;
}

.container .min .content .content-left form .phone input {
  height: 30px;
  width: 240px;
}

.container .min .content .content-left form .phone p {
  display: inline-block;
  width: 200px;
  position: absolute;
  left: 345px;
}

.container .min .content .content-left form .phone span {
  display: block;
  width: 240px;
  height: 20px;
  line-height: 20px;
  margin-left: 74px;
  margin-top: 1px;
  color: red;
}

.container .min .content .content-left form .verification {
  height: 60px;
  padding-left: 14px;
  position: relative;
}

.container .min .content .content-left form .verification lable {
  height: 30px;
}

.container .min .content .content-left form .verification input {
  height: 30px;
  width: 145px;
}

.container .min .content .content-left form .verification .randomNum {
  height: 34px;
  width: 100px;
  display: inline-block;
  position: absolute;
  left: 258px;
}

.container .min .content .content-left form .verification .randomNum p {
  display: inline-block;
  width: 40px;
  height: 34px;
  line-height: 34px;
  background: pink;
  text-align: center;
  color: red;
  border-radius: 2px 2px;
}

.container .min .content .content-left form .verification .randomNum i {
  line-height: 34px;
  float: right;
}

.container .min .content .content-left form .verification span {
  display: block;
  width: 150px;
  height: 20px;
  line-height: 20px;
  margin-left: 60px;
  margin-top: 1px;
  color: red;
}

.container .min .content .content-left form button {
  height: 30px;
  background: #f11515;
  width: 152px;
  border: none;
  box-shadow: 1px 1px 1px 1px #d10000;
  color: white;
  position: absolute;
  left: 78px;
}

.container .min .content .content-right {
  float: right;
}

.container .min .content .content-right img {
  height: 318px;
}

.container .footer {
  padding: 0 220px;
  text-align: center;
  margin-top: 20px;
}

.container .footer p {
  display: inline-block;
}

.container .footer a {
  padding: 0 6px;
  border-right: solid 1px #333333;
  color: #333333;
}

.container .footer a:last-child {
  border: none;
}
